

.nav-link:hover{
color:white !important;
}
.navbar-brand{
color:white !important;
}
.nav-link{
color:white !important;
}
.navbar-brand:hover{
color:white !important;
}
.nav-link:hover{
color:white !important;
}
a.nav-link:hover {
    background-color: #3B5DA0 !important;
}
.navbar-light{
	
}






